<div class="container ">
    <table class="table table-bordered" id="example"> 
    <div class="row">
        <thead class="text-uppercase text-center">
            <th> Stock Symbol </th>
            <th> Company Name </th>
            <th> Weekly Return </th>
            <th> Total Return </th>
            <th> ToDO </th>
        </thead>
        <tbody>
            <% @sid.each do |s| %>
            <tr>
                <td><%= s.upcase %></td>
                <td>
                    <% if @sname.has_key?(s) %>
                    <%= @sname.fetch(s).titleize %>
                    <%end%>
                </td>
                <td>
                    <% wr = @week_return.find_by(s_id: s) %>
                    <% if wr != nil %>
                    <%= '%.3f' % wr.earning %>
                    <%end%>
                </td>
                <td>
                    <% tr = @total_return.find_by(s_id: s) %>
                    <% if tr != nil %>
                    <%= '%.3f' % tr.earning %>
                    <%end%>
                </td>
                <% ws = @week_strat.find_by(s_id: s) %>
                <% pws = @prev_week_strat.find_by(s_id: s) %>
                    <% if ws!=nil and ws.todo=='on' %>
                        <% if pws.todo=='off' %>
                        <td class="success"> BUY </td>
                        <% else %>
                        <td class="active"> HOLD </td>
                        <% end %>
                    <% else %>
                    <td class="danger"> SELL </td>
                    <% end %>
                </td>
            </tr>
            <%end%>
        </tbody>
    </div>
    </table>
</div>