<div class="container" id="demo">
    
</div>

<script>
  <% data = File.read('db/strategy500.json') %>;
  var color = {'SELL': 'danger', 'BUY': 'success', 'HOLD': 'active', 'NO ACTION': 'active'};
  var s_data = <%= raw data %>;
  var out = "<table class='table table-bordered' id='example'>";
  out += "<thead ><th> Stock Symbol </th><th> Company Name </th><th> Weekly Return (%) </th><th> Total Return (%) </th><th> Action </th></thead> <tbody>";
  for(i=0; i<s_data.length; i++)
    out += "<tr> <td>" +
            s_data[i].symbol + 
            "</td><td>" +
            s_data[i].name +
            "</td><td>" +
            s_data[i].w_return +
            "</td><td>" +
            s_data[i].t_return +
            "</td><td class=" + color[s_data[i].todo] + ">" +
            s_data[i].todo +
            "</td></tr>"
  out += "</tbody></table>"
  document.getElementById("demo").innerHTML = out;
</script>