<% provide(:title, "Research Page") %>
<style>
p.small {
    line-height: 130%;
}
</style>

<div class="container text-justify lead">
<p class="small"> <font size="3">
	<strong>Project Overview </strong>
</br>
	In this project, we study the impact of “experts” in crowdsourcing systems, in the context of <a href="http://seekingalpha.com"> SeekingAlpha </a> and <a href="http://stocktwits.com"> StockTwits</a>, two crowdsourced investment services that are encroaching on a space dominated for decades by large investment banks. We seek to understand the quality and impact of content on crowdsourcing investment platforms, by empirically analyzing complete datasets of  SeekingAlpha articles (9 years) and StockTwits messages (4 years). 
	<ul> 
		<li>	We develop sentiment analysis tools and correlate contributed content to the historical performance of relevant stocks. We find that while SeekingAlpha articles and StockTwits messages provide minimal correlation to stock performance in aggregate, a subset of experts contribute more valuable (predictive) content. 
		</li>
		<li>
			We show these experts can be identified by user interactions. We develop a simple stock investment strategy based on experts’ sentiments, which significantly outperforms broader markets. 
		</li>
		<li>
			Finally, we conduct a user survey that sheds light on users views of SeekingAlpha content and stock manipulation.
		</li>
	</font>
	</ul>
</p>
</br>
<p class="small">
	<font size="3">
		<strong>Publication </strong> </br>
		<a href="http://www.cs.ucsb.edu/~ravenben/publications/pdf/salpha-cscw15.pdf">Crowds on Wall Street: Extracting Value from Collaborative Investing Platforms </a> </br>
		Gang Wang, Tianyi Wang, Bolun Wang, Divya Sambasivan, Zengbin Zhang, Haitao Zheng, Ben Y. Zhao </br>
		In Proceedings of 18th ACM conference on Computer-Supported Cooperative Work and Social Computing (CSCW) </br>
		Vancouver, Canada, March 2015. 
	</font>
</p>
</div>
