<div class="center jumbotron">
  <h1>Welcome to the world of Stocks</h1>
  <h2>This is the Home Page, Fellas</h2>
  <div class="input-group">
     <input type="text" class="form-control" placeholder="Search for...">      <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
  </span> 
  </div><!-- /input-group -->
</div>
