<% d= Date.strptime(@maxdate, "%Y-%m-%d") %>
<div class="lead left text-justify"> <font size="3">
    <p>
         This is a live simulation of our stock trading strategy based on sentiments extracted from SeekingAlpha. The detailed algorithm can be found in <a href="http://www.cs.ucsb.edu/~ravenben/publications/pdf/salpha-cscw15.pdf"> our paper.</a> At the very high level, we maintain a 500-stock portfolio, and trade each stock on a weekly basis. For each stock in the portfolio, we sell our entire position in the stock if the experts’ sentiments about this stock in the past week are negative. Otherwise, we hold the stock (or buy it back if we sold it earlier). We update the expert list and portfolio in the beginning of each year. In this simulation, experts are those SeekingAlpha authors who receive most comments on their articles in the past year.
    </p>
    <p>
        Below, we show the accumulated return so far since 2006 (strategy started). Our baseline is “buy-and-hold” on S&ampP 500. We also list the next actions to take on each stock in the portfolio for the coming week. 
    </p>
    </font>
</div>
<div class="container" id="Chart1" style="height: 400px; min-width: 500px"></div>
<h2> <font color="#00008B">Strategy for week starting <%=d.strftime("%B %e, %Y")%> </font></h2>
	<%= render 'weeklystrategy' %>

<script>
$(function () {
    var json_data = <%= raw @perform.to_json(only: [:date, :valu]) %>;
    var ar  = json_data.map(function(x){
        return [Date.parse(x.date), (Math.exp(+x.valu)-1)*100];
    });
    ar.sort(sortFunction);

    var perA_data = <%= raw @perA_perform.to_json(only: [:date, :valu]) %>;
    var perA_ar  = perA_data.map(function(x){
        return [Date.parse(x.date), (Math.exp(+x.valu)-1)*100];
    });
    ar.sort(sortFunction);
    
    function sortFunction(a,b){
           return (a[0]<b[0]) ? -1:1;
    }

    var seriesOptions = [],
        seriesCounter = 0,
        data = [perA_ar, ar],
        color = ['#008000', '#FF0000'],
        names = ['Sentiment Based Strategy', 'S&P 500'],
        // create the chart when all data is loaded
        createChart = function () {

            $('#Chart1').highcharts('StockChart', {

                title: {
                    text: 'Accumulated Return',
                    style: {
                        color: "#00008B"
                    }
                },

                rangeSelector: {
                    selected: 5
                },

                legend: {
                    enabled: true,
                    //floating: true,
                    //backgroundColor: '#FCFFC5',
                    //borderColor: 'black',
                    //borderWidth: 2,
                    layout: 'vertical',
                    verticalAlign: 'top',
                    //y: 100,
                    x: 450
                    //shadow: true
                },

                yAxis: {
                    title: {
                        text: 'Accumulated Return (%)'
                    },
                    labels: {
                        align: 'right',
                        format: '{value} %'
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                tooltip: {
                    valueDecimals: 2
                },

                series: seriesOptions
            });
        };

    $.each(names, function (i, name) {

            seriesOptions[i] = {
                name: name,
                data: data[i],
                color: color[i]
            };

            // As we're loading the data asynchronously, we don't know what order it will arrive. So
            // we keep a counter and create the chart when all the data is loaded.
            seriesCounter += 1;

            if (seriesCounter === names.length) {
                createChart();
            }
    });
});
</script>