<p id="demo"></p>

<script>
    <% data = File.read('test.json') %>;
    var json_data = <%= raw data %>;
    var ar  = json_data.map(function(x){
        return [x.symbol, x.name, +x.w_return, +x.t_return, x.todo];
    });
  var out;
  for(i=0; i<ar.length; i++)
   out += ar[i];

   document.getElementById("demo").innerHTML = out;
  </script>
