<!--<div class="center jumbotron">
  <h1>Welcome to the world of Stocks</h1>
  <h2>This is the Home Page, Fellas</h2>
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <%= form_for(:stock, url: stocks_path(:name)) do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "Find", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
Copy of Previous home.html -->