<footer class="footer">
  <small>
    Copyright &copy <a href="http://sandlab.cs.ucsb.edu">SAND Lab, UCSB</a>
  </small>
  <nav>
    <!--<ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>-->
  </nav>
</footer>
